:root{
    --primary-color:#e76f51;
    --secondary-color:#2a9d8f;
    --light-color:#f8f9fa;
    --dark-color:#6c757d;
    --max-width:1100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}
a{
    color: var(--dark-color);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Varela Round', sans-serif;
    margin-bottom: .7rem;
    line-height: 1.3;
}
p{
    margin: .5rem 0;

}

/* utils */
.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}
.btn{
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    padding: .4rem 1.6rem;
    text-align: center;
}
.btn-light{background-color: var(--light-color);}
.btn-primary{background-color: var(--primary-color);}
.btn-secondary{background-color: var(--secondary-color);}
.btn:hover{opacity: 0.7;}
.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.bg-primary{background-color: var(--primary-color);color: #fff;}
.bg-light{background-color: var(--light-color);color: var(--dark-color);}
.bg-dark{background-color: var(--dark-color);color: #fff;}
.bg-secondary{background-color: var(--secondary-color);}
.p1{padding: .5rem;}
.p2{padding: .6rem;}
.p3{padding: .8rem;}
.p4{padding: 1rem;}

.m1{margin: .5rem;}
.m2{margin: .6rem;}
.m3{margin: .8rem;}
.m4{margin: 1rem;}

.category{
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: .1px;
    padding: .4rem .6rem;
    border-radius: 15px;
    margin-bottom: .5rem;


}

/* navbar */
#main-nav{
    position: sticky;
    top: 0;
    z-index: 3;
}

#main-nav .container{
    display: grid;
    grid-template-columns: .6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}
#main-nav .logo{
    width: 6.5rem;
}
#main-nav .container ul{
    display: flex;
    justify-self: center;
}
#main-nav ul li a{
    padding: .6rem;
    font-weight: bold;
}
#main-nav ul li a.active{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}
#main-nav ul li a:hover{
    background-color: var(--light-color);
    color: var(--dark-color);
}
#main-nav .social-icons{
    justify-self: right;
}

/* header */
#header{
    color: #fff;
    background-color: #333;
    padding: 2rem;
    position: relative;
}
#header::before{
    content: '';
    background: url('../img/rowing.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}
#header .header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50vh;
    align-items: center;
    justify-content: center;
}
#header .header-content{
    z-index: 2;
}
#header .header-content p{
    margin-bottom: 1rem;
}
/* main-articles */
#main-articles .container{
    padding: 1rem 3rem;
}
#main-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap:1.5rem;
}

/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
#footer .container{
    width: 70%;
    justify-content: center;
}
#footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    padding-top:2rem; 
    
}
#footer .footer-content .logo{
    width: 10rem;
    margin-top: 1rem;
}
#footer .links ul li a{
    color: var(--light-color);
}
#footer .links ul li{
    border-bottom: 1px solid var(--primary-color);
}
#footer .social-icons a i{
    color: var(--light-color);
}
#footer .copyright{
    grid-column: 1/ span 4;
    text-align: center;
    background-color: #333;
}
